/* add css here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Jost";
}

body {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}
input {
  border: solid 1px #b8b3b3;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
  max-width: 475px;
  width: 300px;
  height: 400px;
  padding: 12px;
  background-color: white;
  border: white 1px solid;
  border-radius: 16px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;
  font-size: 12px;
}

.terms {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 20px auto;
  border: solid 1px white;
  border-radius: 6px;
}

#error {
  background-color: hsla(333deg, 100%, 44%, 0.25);
  font-size: 1em;
  font-weight: bolder;
}
.terms {
  background-color: #f2f2f2;
}
.clear {
  background-color: hsl(333deg, 100%, 44%);
  color: white;
  border-radius: 4px;
}
.submit {
  background-color: hsl(256deg, 100%, 44%);
  color: white;
  border-radius: 4px;
}

footer {
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
}

button {
  width: 5em;
  height: 1.5em;
}

.mistake {
  border: 3px solid red;
}
